<div class="container user-temp">

  <div class="row top-space">
    <div class="col-md-4 color1">
      <div class="profile-img">
        <img src="https://picsum.photos/180/200" alt="Profile Image" class="img-circle">
      </div>
    </div>

    <div class="col-md-6 color2">
      <div class="profile-title">
        <h1>Welcome <%= @user.username %></h1>
        <h4><%= @user.email %></h4>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-lg-12 dividing-line">
      <p>Below are your Events</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 event-title">
      <h2>Created Events</h2>
      <% @user.created_events.each do |event| %>
        <h3><%= link_to event.title, event_path(event) %></h3>
      <% end %>
    </div>

    <div class="col-md-4 event-title">
      <h2>Past Events</h2>
      <% @past_events.each do |past| %>
        <h3><%= past.title %></h3>
      <% end %>

    </div>

    <div class="col-md-4 event-title">
      <h2>Events to Attend</h2>
      <% @upcoming_events.each do |upcoming| %>
        <h3><%= upcoming.title %></h3>
      <% end %>
    </div>
  </div>
</div>
