<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', '#' %></li>
        <li><%= link_to 'Events', '#' %></li>
        <li><%= link_to 'Create Event', '#'%></li>
        <li><%= link_to 'Sign up', '#' %></li>
        <li><%= link_to 'Profile', '#' %></li>
        <li><%= link_to 'Log in', '#' %></li>
        <li><%= link_to 'Log out', '#', method: :delete %></li>
      </ul>
    </nav>
  </div>
</header>
